build/
sdkconfig
sdkconfig.old
compile\_commands.json
.espressif/
venv/
.venv/
env/
.vscode/
\*.code-workspace
.idea/
.DS\_Store
\*.log
CMakeCache.txt
CMakeFiles/
cmake\_install.cmake
CMakeLists.txt.user
pip-selfcheck.json
